.form{
    width: 500px;
    height: 500px;
}
.main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.btn.waves-effect.waves-light {
    background-color: #F44336;
    margin-bottom: 100px;
}
.register .row {
    margin-bottom: 2%;
}

