.wrapper{
    background: linear-gradient(to bottom, #ee6e73, #eee);
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

img{
    width: 600px;
    height: 600px;
    opacity: .6;
    border-radius: 50px;
    justify-items: center;
}

.wrapper > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

